<% layout('layouts/boilerplate') %>

    <link rel="stylesheet" href="stylesheets/user.css">

    <div class="User-name">
        <h1>
            <%= user.username %>
        </h1>
    </div>

    <div class="container mt-5">

        <% if(myCampgrounds.length) {%>
            <h2>All My Campgrounds</h2>
            <% }else {%>
                <h2>You are yet to Make a Campground</h2>
                <% } %>

                    <% for(let campground of myCampgrounds) {%>
                        <div class="card mb-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <% if(campground.images.length) {%>
                                        <img class="img-fluid" src="<%=campground.images[0].url%>">
                                        <% } else {%>
                                            <img class="img-fluid" src="" alt="">
                                            <% } %>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%=campground.title%>
                                        </h5>
                                        <p class="card-text">
                                            <%=campground.description%>
                                        </p>
                                        <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">more..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>

    </div>